<nav> 
      <mat-toolbar color="primary" class="mat-elevation-z4">
            <span><mat-icon>article</mat-icon> POLI TCC</span>

            <div class="spacer"></div>

            <a mat-button routerLink="Cronograma">Cronograma</a>
            <a mat-button routerLink="Orientando">Orientandos</a>
            <a mat-button routerLink="Banca">Banca</a>
            <a mat-button routerLink="Projetos">Projetos</a>
            <a mat-button routerLink="Login">Login</a>

            
      </mat-toolbar>
</nav>