
  <div>

    <button mat-raised-button color="primary" style="width: 200px; margin-left: 25%; 
      height:150px; margin-right: -23%; margin-top: 20%;"><p style="font-size: 150%;">Integrantes</p></button>

    <button mat-raised-button color="primary" style="width: 200px; margin-left: 25%; 
      height:150px; margin-right: -23%; margin-top: 20%;"><p style="font-size: 150%;">Gerar ATA</p></button>

    <button mat-raised-button color="primary" style="width: 200px; margin-left: 25%; 
      height:150px; margin-right: -23%; margin-top: 20%;"><p style="font-size: 150%;">Convidados</p></button>

    <button mat-raised-button color="primary" style="width: 200px; margin-left: 25%; 
      height:150px; margin-right: -23%; margin-top: 20%;"><p style="font-size: 150%;">Cronograma</p></button>

  </div>

